

/*=============================================== breakpoint(1) ===========================================*/
@media  screen and (max-width: 1100px) {
    #oferts{
    display: grid;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 0;
}
    
}
/*=============================================== breakpoint(2) ===========================================*/
@media  screen and (max-width: 850px) {
   
    nav{
        width: 100vw;
    }
   .mainsection{
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
   }
    #ad{
    padding: 15px;
    padding-bottom: 40px;
    height: auto ;
    width: 300px;
    background-color: #F83303;
    text-align: center;
    border: white double 15px;

       
}
#ad h2{
    color: white;
}
#oferts{
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-column: 2fr;
    grid-template-areas: div1
                         div2  ;
    height: auto;
    padding: 0;
}
#eagle{
    grid-area: div1;
}
#cat{
    grid-area: div2;
    display: none;
}
}
/*======================================breakpoint(3)==================================*/

@media  screen and (max-width: 400px) {
    
   
    nav{
        width: 100%;


    }
    .nav__container{
                height: fit-content;
                width: 35%;
                
    }
     #brand{
                        
                        margin: 0;
                       
                    }

   .mainsection{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding: 50px 0px 0px 0px;
   }
    #ad{
    padding: 15px;
    padding-bottom: 40px;
    height: auto ;
    width: 50vw;
    background-color: #F83303;
    text-align: center;
    border: white double 15px;
       
}
#ad h2{
    color: white;
}
#cat{
    display: none;
}
form{
    height: auto;
    width: fit-content;
    padding: 20px 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: outset;
    margin: 10px 2rem;
    background-color: white;
    
}
#oferts{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-column: 2fr;
    height: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
     grid-template-areas: div1
                         div2  ;
}
#eagle{
    grid-area: div1;
}
#cat{
    grid-area: div2;
}
    
}
/*=========================== breakpoint(4) index====================*/
@media  screen and (max-width: 600px) {
    
   
    nav{
        width: 100%;

    }
    .nav__container{
                height: fit-content;
                width: 35%;
                
    }
     #brand{
                        
                        margin: 0;
                       
                    }

   .mainsection{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding: 50px 0px 0px 0px;
   }
    #ad{
    padding: 15px;
    padding-bottom: 40px;
    height: auto ;
    width: 50vw;
    background-color: #F83303;
    text-align: center;
    border: white double 15px;
       
}
#ad h2{
    color: white;
}
#cat{
    display: none;
}
form{
    height: auto;
    width: fit-content;
    padding: 20px 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: outset;
    margin: 10px 2rem;
    background-color: white;
    
}
#oferts{
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-column: 2fr;
    height: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
     grid-template-areas: div1
                         div2  ;
}
#eagle{
    grid-area: div1;
}
#cat{
    grid-area: div2;
}
    
}

/*---------------------help media queriesss-----------------*/


@media screen and (max-width: 800px){
    .help__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .help__container > .help__title{
        text-align: left;
        padding: 10px;
        width: 100%;
    }
    .help__options{
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 80%;
        height: 60vh;


    }
    .help__option__item{
        width: 40%;
        padding: 5px;
        margin: 0;
        height: 25%;


    }
}


/*---------------
--------------------- ----- - - - -- - - -shirt1 media queries----------------------
--------------------*/

@media screen and (max-width: 800px){
    .section__shirt__container {
    padding: 50px 0 20px 0;
    width: 100vw;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 300px 300px 150px;
}
.div__shirt__image{
    
    height: 500px;
    width: 90%;
    grid-row: span 2;
    margin: 50px 0 0 0;
    padding: 0;
   

}
#shirt__image{
    width: 100%;
    height: 100%;
     border: solid 1px black ;
    border-radius: 10px;
}
.div__shirt__description{
    grid-column: span 1;
    grid-row-start: 4;
    grid-row-end: 5;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
}
.div__shirt__description > p{
    width: 100%;
}
.div__shirt__features{
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-template-rows: repeat(0.75fr,6);
    padding: 30px 10px 0 10px;
    width: 100%;
    height: auto;

}
.div__shirt__features > span{
    font-size: x-large;
    font-weight: 700;
    color: red;
}
}
@media  screen and (max-width: 1050px){
    
    .div__shirt__image{
    
    height: 500px;
    width: 90%;
    grid-row: span 2;
    margin: 50px 0 0 10px;
    padding: 0;
   

}
}


/*-------------------------------------------------------------
-----------------clothes media query----------------------------*/

@media screen and (max-width: 800px){
    .dad{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    
}
.container__1{
    width: 100%;
    height: 500px;
    background-image: url(../images/450_1000.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid black 2px;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__2{
    width: 100%;
    height: 500px;
    background-image: url(../images/tendencias-que-se-haran-grandes-invierno-2022-2-1641035277.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border: solid #F83303 2px;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__2__button {
    height: 90px;
    width: 200px;
    background-color: white;
    color: black;
    font-size: xx-large;
    font-family: 'Playfair Display', serif;
    border: #F83303 2px solid;
    border-radius: 10px;
}

.container__1__button{
    height: 90px;
    width: 200px;
    background-color: white;
    color: black;
    font-size: xx-large;
    font-family: 'Playfair Display', serif;
    border: #F83303 2px solid;
    border-radius: 10px;
}

}
