/*========================transition ad=====================*/
#ad{
    transition: ease-out 0.5s 0.2s;
    animation-name: move;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

        &:hover{

            width: 560px;
            

        }
        .lorem{
            text-align: center;
        }

}
/*============== animation ===============*/

@keyframes move{
    0%{
        transform: translateX(0%);
   
        
        }
  
    100%{
        transform: translateX(100%);
    }
    
}
@keyframes gradient{
    0%{
        background-color: white;
        border-radius: 1%;
    }
    50%{
        background-color: #b4b0af;
        border-radius: 6%;
        color: darkgrey;
    }
    100%{
        background-color: #2d2d2ec9;
        border-radius: 10%;
        color: white;
    }
}
.shirt:hover{
    animation-name: gradient;
    animation-duration: 2s;
    animation-direction:normal;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0.25s;

}

