/*========================= cart buttons =================================00*/

.button__div{
    width: 500px;
    display: flex;
    justify-content: center;
}
.cart__button{
    background-color: $rojito !important;
    width: 200px;

        a{
            text-decoration: none;
            color: #fff !important;

                &:hover{
                    color: $activeColor;
                }

        }

        &:hover{
            background-color: gold;
        }
}


/*========================= clothes buttons =================================00*/

@mixin buttons-styles {
     height: 90px;
    width: 200px;
    background-color: white;
    color: black;
    font-size: xx-large;
    font-family: 'Playfair Display', serif;
    border: $rojito 2px solid;
    border-radius: 10px;
}
.container__2__button , .container__1__button {
    @include buttons-styles();
        &:hover{

            background-color: $rojito;
            color: $colorLetraBoton;
            border-color: $rojito;
        }
        &:active{
            background-color: $activeColor;
            color: $colorLetraBoton;
            border-color: $activeColor;
        }
}