/*======================================== navbar component =============================================*/


nav{
    padding: 10px ;
    height: 70px;
    font-style: oblique;
    font-size: 120%;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;

            .nav__container{
                height: fit-content;
                width: 15%;
                background-color: $rojito;
                padding: 0.25rem;

                    #brand{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        font-size: xx-large;
                        color: #FFF;
                        font-family: 'Playfair Display', serif;
                        font-weight: bolder;
                        margin: 0.25rem;
                    }
            }

          ul{
              width: fit-content;
              display: flex;
              flex-direction: row;
              justify-content: right;
              margin-right: 20px;
        }

            li{
                list-style: none;
                margin: 10px;
        
            }
                a{
                    text-decoration: none !important;
                    color: #000;
                }
                
                 
}
.nav__2{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: beige;
    z-index: 0;
    position:relative;
    top: 90px;
        
        #search__input{
            width: 12rem;
            margin: 1rem 0rem;
            padding: 0.5rem;
            border-radius: 1rem;

        }
}

