/*======================================== navbar component =============================================*/


nav{
    padding: 10px ;
    height: 70px;
    font-style: oblique;
    font-size: 120%;
    width: 100%;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    border-bottom: lightgray solid 1px;

            .nav__container{
                height: 50px;
                width: 18%;
                background-color: $rojito;
                padding: 0.25rem 0;
                display: flex;
                flex-direction: row;
                justify-content:space-around;
                align-items: center;

                    #brand{
                        width: fit-content;
                        height: fit-content;
                        font-size: 100%;
                        color: #FFF;
                        font-family: 'Playfair Display', serif;
                        font-weight: bold;

                    }
            }

          ul{
              width: fit-content;
              display: flex;
              flex-direction: row;
              justify-content: right;
              margin-right: 20px;
              margin-left: auto;
        }

            li{
                list-style: none;
                margin: 10px;
            }
                a{
                    text-decoration: none !important;
                    color: #000;
                    text-transform: capitalize;
                        
                    &:hover{
                        color:$rojito;
                        padding-bottom: 0.7rem;
                        border-bottom: solid 1px $rojito;
                    }
                }
                
                 
}
// estilos del boton con el icono de buscar
.nav__button-search{
    all: unset;
    cursor: pointer;
    .nav__search-icon{
        width: 2rem;
        background-color: transparent;
        border: none;
        height: 1.5rem;
    }
    &:hover {
        fill: $rojito;
        padding-bottom: 0.7rem;
        border-bottom: solid 1px $rojito;
    }
}

/*
 segundo nav que contiene la barra buscadora
*/
.nav__2{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: beige;
    z-index: 0;
    position:relative;
    top: 90px;
        .search__input__dad{
            overflow-y: visible;
            width: 40%;
            display: flex;
            flex-direction: column;
            #search__input {
                width: 100%;
                margin: 1rem 0rem;
                padding: 0.5rem;
                border-radius: 1rem;
                text-align: left;
            }
        }
        #lupa{
            all: unset;
        .icon-search{
            fill: $rojito;
            margin: calc(70px/2 - 1.05rem) 1rem;
            border-radius: 50%;
            font-size: small;
            height: 2rem;
            width: 2.5rem;
            padding: .30rem .25rem;
            display: flex;
            opacity: .6;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            &:hover{
                opacity: 1;
            }
            &:active{
                fill: gold;
            }
        }
    }
}
// clase para abrir las secciones gentleman y ladies desde la barra de navegacion
.clothes__module-open{
    height: fit-content;
    width: inherit;
    color: #111112;
    font-family: $elegantfont;
    margin: 0 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: $colorLetraBoton;
    position: absolute;
    top: 3.7rem;
    li{
        margin: 0.5rem 0;
        padding: 0 0.5rem;
        &:hover {
            color: $rojito;
            cursor: pointer;
        }
    }
        
}
// creo clase de javascript para lista del buscador
.searching__list{
    background-color: $colorBody;
    width: inherit;
    height: fit-content;
    font-size: medium;
    color: #000;
    display: inline-flex;
    position: absolute;
    top: 70px;
    flex-direction: column;
    padding: 0.5rem;
    list-style: none;
    font-family: $boldfont;
    font-weight: 500;
    font-size: large;
    text-transform: capitalize;
    z-index: 2;
    overflow: hidden;
    max-height: 70vh;
    li{
        padding: .7rem .5rem;
        cursor: pointer;
        &:hover{
            background-color: #dfdbdb;
            color: $rojito;
        }
    }
}
/*
    classes para abrir y cerrar el menu responsive con javascript
*/
.shut-burger, .collapse__ul-shutted, .collapse__ul{
    display: none;
}
// clase con estilos para la X que cierra el menu responsive 
//- desabilitado por ahora : version dimension2 y master hoy 01-05-22
.spanStyles{
    font-size: 30px;
    font-weight: bolder;
    font-family: $boldfont;
    height: fit-content;
    margin: 0 2rem;
    color: #111112;
    width: 20px;
    padding: 1rem;
    border: #fff 3px solid;
    &:hover{
        color: $rojito;
        cursor: pointer;
        border: 3px solid $rojito;

    }
}
/*=============================================================================*/
/*=============================  MEDIA QUERIES ================================*/
/*=============================================================================*/

@media only screen and (max-width: 800px) and (min-width: 1px){
    .nav__container{
        width: 30%;
        height: 35px;
        #brand{ 
            margin: 0.2rem;
        }
    }
    .nav-ul{
        display: none;
    }
    .burger{
        width: 4rem;
        height: 3rem;
        border: white 3px solid;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        padding: 0.5rem 0;
        margin: 0 2rem;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            border-color: $rojito;
                .line{
                    background-color: $rojito;
                }
        }
            &:select{
            border-color: $rojito;
                .line{
                    background-color: $rojito;
                }
        }

            .line{
                height: 3px;
                width: 80%;
                background-color: grey;
                margin: 0.40rem 0.10rem ;
                border-radius: 10px;
            }

    }
    .collapse__ul{
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        width: 100%;
        position: fixed;
        top: 91px;
        z-index: 3;
            li{
                height: 2rem;
                margin: 0.5rem;
                font-family: $cursivefont;
                list-style: none;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                padding: 0 1rem;
                border-bottom: 1px lightgrey solid;
                border-radius: 5%;
                &:hover{
                    background-color: $rojito;
                    a{
                        color: #FFF;
                    }
                }
            }
    }

}