footer{
    background-color: black;
    color: blanchedalmond;
    height: 15rem;
    width: 100%;
    text-align: center;
    position: relative;
        .footer__div1{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows:1fr;
            gap: 2rem;
            padding: 3rem;
                p{
                    font-family: 'Playfair Display', serif;
                    font-size: large;
                    font-style: italic;
                }
                div{
                    p{
                        font-weight: 900;
                    }
                    ul{
                      display: flex;
                      flex-direction: column;
                        li{
                            list-style: none;
                            margin: 0.75rem 0 0.5rem 0;
                            
                        }  
                    }
                }
        }
}

