footer{
    background-color: black;
    color: blanchedalmond;
    height: fit-content;
    width: 100%;
    text-align: center;
        .footer__div1{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows:1fr;
            gap: 2rem;
            padding: 3rem;
                p{
                    font-family: 'Playfair Display', serif;
                    font-size: large;
                    font-style: italic;
                }
                div{
                    p{
                        font-weight: 900;
                        margin: 1rem 0;
                    }
                    ul{
                      display: flex;
                      flex-direction: column;
                        li{
                            list-style: none;
                            margin: 0.75rem 0 0.5rem 0;
                            
                        }  
                    }
                }
            .social__media{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
}
i{
    font-size: x-large;
    margin-bottom: 1.25rem;
}
@media only screen and(max-width:600px) and (min-width:1px){
    footer{
        height: fit-content;
        .footer__div1{
            display: grid;
            grid-template-areas: "media" "media"
                                 "rights";
            gap: 1rem;
            padding: 2rem;
            .footer__div1-rights{
                grid-area: rights;
                grid-column-start:1 ;
                grid-column-end: 4;
                margin: 2rem 0 1rem 0;
            }
            .social__media{
                grid-area: media;
                border-right: #fff 1px solid;
                padding-right: 1rem;
            }
            .div_footer__div1-contact{
                grid-area: media;
                grid-column-start: 2;
                grid-column-end: 4;
            }
        }
    } 
}