.help__container{
    padding-top: 130px;
    height: fit-content;
    margin-bottom: 10rem;
        .help__title{
            text-align: center;
            font-family: 'Playfair Display', serif;
            h1{
                font-weight: 900;
                font-size: xx-large;
            }


}
}

.help__options{
    display: flex;
    flex-direction: row;
    padding:20px;
    margin: 10vh 10vw;
    justify-content: space-evenly;
    border:solid grey 3px;
    height: 40%;
    width: auto;
        .help__option__item{
            height: 10rem;
            width: 20rem;
            background-color: rgb(199, 236, 235);
            color: grey;
            border-radius: 15px;
            margin: 20px 5px;
            font-size: large;
            text-align: center;
            padding: 1rem;
            text-transform: uppercase;
                .option__item-p{
                    text-transform: lowercase;
                    margin-top: 1.25rem;
                }
    
}
}

/*_________________________________________________________________________________________
__________________________________ MEDIA QUERIES____________________________________________*/

 @media only screen and (max-width: 800px){
    .help__container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 5rem 2rem;}
            
        .help__title{
                text-align: left;
                padding: 10px;
                width: 100%;
        }
        
   
    .help__options{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85%;
        height: fit-content;
           
    }
 }
@media only screen and (max-width: 1100px) and (min-width:801px){
    
    .help__options{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: fit-content;
        height: fit-content;
        padding: 10px;

    }
    .help__option__item{
        padding: 5px;
        margin: 0;
        height: 23%;
        width: 22%;
    }
}   


