
#ad{
    margin-top: 100px;
    padding: 15px;
    padding-bottom: 40px;
    height: auto ;
    width: 300px;
    position: absolute;
    right: 4.5rem;
    bottom: 90px;
    background-color: #F83303;
    text-align: center;
    border: white double 15px;
    z-index: 1;
        .sale{
        font-size: 70px;
        font-family: 'Playfair Display', serif;
}
}

.lorem{
    text-align: left;
}
.mainsection{
  background-image: url("../images/neutraliza_4176c12b_800x1100.jpg");
  height: 600px;
  width: 100%;
  padding-top: 120px; 
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
#mainsection__heading{
    font-size: 80px;
    font-family: $elegantfont;
    color: white;
    font-weight: 600;
    font-style: italic;
    margin: 1rem;
    width: 50%;

}
/*===================================================================================================
 ================================= SHIRT OFERTS SECTION  ============================================
 ====================================================================================================*/
.shirt {
    display: flex;
    padding: 20px 40px 40px 40px;
    margin: 30px;
    height: auto;
    width: 280px;
    transition: 3s background-color 1s ease-in;
    cursor: pointer;
    border: 1px grey solid;
    box-shadow: 3px 3px 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.pic{
    border: 1px black solid;
    opacity: .7;
    transition: transform .75s;  
    width: 90%;
    
}
.wrapping{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    p {
        width: 100%;
        color: #F83303;
        font-size: x-large;
        font-weight: bolder;
        text-transform: capitalize;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        margin: 1rem 0;
        padding: 0.75rem 0.25rem;
        border-bottom: #F83303 2px solid;
    }
    del,
    span {
        display: block;
        margin: 0.5rem 0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
        width: fit-content;
    }

}
.pic:hover {
    transform: scale(1.12);
    opacity: 1;
}
#oferts{
    padding: 10px 10%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

/*=================================================================================================
=======================================     FORM SECTION     ======================================
===================================================================================================*/
form{
    height: auto;
    width: fit-content;
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    border-style: outset;
    margin: 10px 100px;
    background-color: white;
    align-items: center;
}
label{
    margin: 10px ;
    font-size: larger;
    font-weight: bolder;

}
input{
    margin: 10px;
    height: 25px;
    width: 100%;
    padding:3px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom: $rojito 2px solid;
    text-align: center;
}
legend{
    margin: 20px 20px;
    font-size: xx-large;
    font-weight: bolder;
    font-family: $elegantfont;
}
.formulario{
    display: flex;
    background-color: #F83303 ;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 600px;
}
.emptyInput{
    border: 1px solid red;
    content: "este campo debe completarse";
}
.inputaccepted{
    border: 1px solid lightgreen;
}

//======================================================================
//===================== MEDIA QUERIES===================================
//===============================================================0=======
/*======================================breakpoint(3)==================================*/

@media  screen and (max-width: 400px) and (min-width: 1px) {

   .mainsection{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   padding: 50px 0px 0px 0px;
   }
    #ad{
    display: none;
       
}

#cat{
    display: none;
}
.formulario{
    height: 700px;
    form{
        height: auto;
        width: 90%;
        padding: 20px 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-style: outset;
        margin: 10px 2rem;
        background-color: white;
        
    }
}

#oferts{                                         
    display: flex;
    max-width: 100vw;
    height: auto;
    padding: 50px 10px;
    justify-content: center;
    flex-direction: row;
}
#eagle{
    grid-area: div1;
    width: 50%;
    margin: 0;
}
.help__container{
    padding-top: 130px;
    height: fit-content;
}
    
}
/*=========================== breakpoint(4) index====================*/

@media  screen and (max-width: 600px) and (min-width:401px) {
    #ad{
    display: none;
       
}
#cat{
    display: none;
}
.formulario{
    height: 700px;
    form{
    height: auto;
    width: fit-content;
    padding: 20px 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: outset;
    margin: 10px 2rem;
    background-color: white;
    
}
}

#oferts{
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#eagle{
    grid-area: div1;
    width: 80%;
}
#cat{
    grid-area: div2;
}


}
//============================================================================

@media  screen and (max-width: 850px) and (min-width: 601px){
   .mainsection{
   display: flex;
   justify-content: space-around;
   align-items: flex-end;
   }
    #ad{
    display: none;

       
}

#oferts{
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-column: 2fr;
    grid-template-areas: div1
                         div2  ;
    height: auto;
    padding: 0;
}
#eagle{
    grid-area: div1;
}
#cat{
    grid-area: div2;
    display: none;
}
}
/*=============================================== breakpoint(1) ===========================================*/
@media  screen and (max-width: 1100px) and (min-width: 851px){
    #oferts{
    display: grid;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 0;
}
   #ad{
       display: none;
   } 
}