// clothes page new config
.dad{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 110px 0 1rem 0;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
}
@mixin imagen {
    width: 45%;
    height: 100vh;
    padding: 0%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container__1{
    @include imagen();
        .container__1-img{
            padding:2rem 0 ;
            height: 93%;

        }
}
.container__2 {
    @include imagen();
}
 .container__2-img{
            padding:2rem 0 ;
            height: 100%;

        }



/*=============================================================================*/
/*============================= CLOTHES MEDIA QUERY ===========================*/
/*=============================================================================*/

@media screen and (max-width: 800px){
    .dad{
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    gap: 10px;
    
}
.container__1{
    width: 100%;
    height: 500px;
    padding: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container__2{
    width: 100%;
    height: 500px;
    padding: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
        .container__2-img{
            width: 100%;

        }
}
.container__2__button {
    height: 90px;
    width: 200px;
}

.container__1__button{
    height: 90px;
    width: 200px;
}
}