html {
  font-size: 100%;
  scroll-behavior: smooth;
}

html a {
  text-decoration: none;
  color: black;
}

* {
  padding: 0%;
  margin: 0%;
}

#ad {
  margin-top: 100px;
  padding: 15px;
  padding-bottom: 40px;
  height: auto;
  width: 300px;
  position: absolute;
  right: 4.5rem;
  bottom: 90px;
  background-color: #F83303;
  text-align: center;
  border: white double 15px;
  z-index: 1;
}

#ad .sale {
  font-size: 70px;
  font-family: 'Playfair Display', serif;
}

.lorem {
  text-align: left;
}

.mainsection {
  background-image: url("../images/neutraliza_4176c12b_800x1100.jpg");
  height: 600px;
  width: 100%;
  padding-top: 120px;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainsection__heading {
  font-size: 80px;
  font-family: "Playfair Display", serif;
  color: white;
  font-weight: 600;
  font-style: italic;
  margin: 1rem;
  width: 50%;
}

/*===================================================================================================
 ================================= SHIRT OFERTS SECTION  ============================================
 ====================================================================================================*/
.shirt {
  display: inline-block;
  padding: 20px 25px;
  margin: 30px;
  height: auto;
  width: auto;
  -webkit-transition: 3s background-color 1s ease-in;
  transition: 3s background-color 1s ease-in;
  cursor: pointer;
  border: 1px grey solid;
}

.pic {
  border: 1px black solid;
}

.shirt > p {
  color: #F83303;
  font-size: x-large;
  font-weight: bolder;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 1rem 0;
  padding: 0.75rem 0.25rem;
  border-bottom: #F83303 2px solid;
}

.shirt > del, span {
  display: block;
  margin: 0.5rem 0;
}

.pic:hover {
  height: 350px;
  width: 350px;
}

#oferts {
  padding: 10px 100px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*=================================================================================================
=======================================     FORM SECTION     ======================================
===================================================================================================*/
form {
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-style: outset;
  margin: 10px 100px;
  background-color: white;
}

label {
  margin: 10px;
  font-size: larger;
}

input {
  margin: 10px;
  height: 20px;
  width: 50%;
  padding: 3px;
  border-style: solid;
  border-bottom-color: #F83303;
  border-top: none;
  border-left: none;
  border-right: none;
}

#send {
  width: 80px;
  height: 30px;
  padding: 5px 8px;
  border: thin gray;
  background-color: honeydew;
}

#send:hover {
  background-color: #b0bdb0;
}

legend {
  margin: 20px 20px;
  font-size: xx-large;
  font-weight: bolder;
  font-family: "Playfair Display", serif;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F83303;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 600px;
}

/*======================================breakpoint(3)==================================*/
@media screen and (max-width: 400px) and (min-width: 1px) {
  .mainsection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 50px 0px 0px 0px;
  }
  #ad {
    display: none;
  }
  #cat {
    display: none;
  }
  .formulario {
    height: 700px;
  }
  .formulario form {
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-style: outset;
    margin: 10px 2rem;
    background-color: white;
  }
  #oferts {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-column: 2;
    grid-column: 2fr;
    height: auto;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: div1 div2;
  }
  #eagle {
    grid-area: div1;
  }
  #cat {
    grid-area: div2;
  }
  .help__container {
    padding-top: 130px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

/*=========================== breakpoint(4) index====================*/
@media screen and (max-width: 600px) and (min-width: 401px) {
  #ad {
    display: none;
  }
  #cat {
    display: none;
  }
  .formulario {
    height: 700px;
  }
  .formulario form {
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-style: outset;
    margin: 10px 2rem;
    background-color: white;
  }
  #oferts {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-column: 2;
    grid-column: 2fr;
    height: auto;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: div1 div2;
  }
  #eagle {
    grid-area: div1;
  }
  #cat {
    grid-area: div2;
  }
}

@media screen and (max-width: 850px) {
  .mainsection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #ad {
    display: none;
  }
  #oferts {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-column: 2;
    grid-column: 2fr;
        grid-template-areas: div1 div2;
    height: auto;
    padding: 0;
  }
  #eagle {
    grid-area: div1;
  }
  #cat {
    grid-area: div2;
    display: none;
  }
}

/*=============================================== breakpoint(1) ===========================================*/
@media screen and (max-width: 1100px) {
  #oferts {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    padding: 0;
  }
}

/*======================================== navbar component =============================================*/
nav {
  padding: 10px;
  height: 70px;
  font-style: oblique;
  font-size: 120%;
  width: 100%;
  position: fixed;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFF;
}

nav .nav__container {
  height: 50px;
  width: 18%;
  background-color: #f83303;
  padding: 0.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav__container #brand {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 100%;
  color: #FFF;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

nav ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 20px;
}

nav li {
  list-style: none;
  margin: 10px;
}

nav a {
  text-decoration: none !important;
  color: #000;
  text-transform: capitalize;
}

nav a:hover {
  color: #f83303;
  padding-bottom: 0.7rem;
  border-bottom: solid 1px #f83303;
}

.nav__2 {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: beige;
  z-index: 0;
  position: relative;
  top: 90px;
}

.nav__2 #search__input {
  width: 28rem;
  margin: 1rem 0rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.burger {
  display: none;
}

.collapse__ul {
  display: none;
}

/*=============================================================================*/
/*=============================  MEDIA QUERY ==================================*/
/*=============================================================================*/
@media only screen and (max-width: 800px) and (min-width: 1px) {
  .burger-boots {
    padding: 0.1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50px;
  }
  .burger-boots .bg {
    background-color: grey;
    margin: 0.20rem;
    height: 3px;
    width: 80%;
    border-radius: 10px;
  }
  .nav__container {
    width: 30%;
    height: 35px;
  }
  .nav__container #brand {
    margin: 0.2rem;
  }
  .nav-ul {
    display: none;
  }
  .burger {
    width: 4rem;
    height: 3rem;
    border: white 3px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    padding: 0.5rem 0;
    margin: 0 2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  .burger:hover {
    border-color: #f83303;
  }
  .burger:hover .line {
    background-color: #f83303;
  }
  .burger:select {
    border-color: #f83303;
  }
  .burger:select .line {
    background-color: #f83303;
  }
  .burger .line {
    height: 3px;
    width: 80%;
    background-color: grey;
    margin: 0.40rem 0.10rem;
    border-radius: 10px;
  }
  #burger-displayed {
    display: none;
  }
  .close {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .collapse__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #FFF;
    width: 100%;
    position: relative;
    top: 80px;
  }
  .collapse__ul li {
    height: 2rem;
    margin: 0.5rem;
    font-family: "Courgette", cursive;
    list-style: none;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
    border-bottom: 1px lightgrey solid;
    border-radius: 5%;
  }
  .collapse__ul li:hover {
    background-color: #f83303;
  }
  .collapse__ul li:hover a {
    color: #FFF;
  }
}

/*========================transition ad=====================*/
#ad {
  -webkit-transition: ease-out 0.5s 0.2s;
  transition: ease-out 0.5s 0.2s;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  animation-direction: reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#ad:hover {
  width: 560px;
}

#ad .lorem {
  text-align: center;
}

/*============== animation ===============*/
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-color: white;
    border-radius: 1%;
  }
  50% {
    background-color: #b4b0af;
    border-radius: 6%;
    color: darkgrey;
  }
  100% {
    background-color: #2d2d2ec9;
    border-radius: 10%;
    color: white;
  }
}

@keyframes gradient {
  0% {
    background-color: white;
    border-radius: 1%;
  }
  50% {
    background-color: #b4b0af;
    border-radius: 6%;
    color: darkgrey;
  }
  100% {
    background-color: #2d2d2ec9;
    border-radius: 10%;
    color: white;
  }
}

.shirt:hover {
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

/*========================= cart buttons =================================00*/
.button__div {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart__button {
  background-color: #f83303 !important;
  width: 200px;
}

.cart__button a {
  text-decoration: none;
  color: #fff !important;
}

.cart__button a:hover {
  color: #3df4fa;
}

.cart__button:hover {
  background-color: gold;
}

/*========================= clothes buttons =================================00*/
.container__2__button, .container__1__button {
  height: 200px;
  width: 300px;
  background-color: white;
  color: black;
  font-size: xxx-large;
  font-family: 'Playfair Display', serif;
  opacity: 0.5;
  border-radius: 10px;
  top: calc(800px / 2 - 100px);
  right: calc(50% - 150px);
  position: absolute;
}

.container__2__button:hover, .container__1__button:hover {
  background-color: #f83303;
  color: white;
  border-color: #f83303;
  opacity: 0.90;
  cursor: pointer;
}

.container__2__button:active, .container__1__button:active {
  opacity: 1;
}

#shirt__button {
  width: 15rem;
  height: 2rem;
  font-size: large;
  background-color: gold;
  color: black;
  border-radius: 20px;
  border-style: none;
  padding: 0,5rem;
  margin: 1rem 0;
  cursor: pointer;
}

#shirt__button:hover {
  background: #f83303;
  color: #fff;
}

#shirt__button:active {
  background-color: #3df4fa;
}

#shirtII__button {
  width: 15rem;
  height: 2rem;
  font-size: large;
  background-color: gold;
  color: black;
  border-radius: 20px;
  border-style: none;
  padding: 0,5rem;
  margin: 1rem 0;
  cursor: pointer;
}

#shirtII__button:hover {
  background: #f83303;
  color: #fff;
}

#shirtII__button:active {
  background-color: #3df4fa;
}

.button_x {
  height: 1rem;
  color: grey;
  margin: 1rem;
  cursor: pointer;
}

.dad {
  height: 1000px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 150px 0 1rem 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container__1 {
  width: 45%;
  height: 810px;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container__1 .container__1-img {
  padding: 2rem 0;
  height: 93%;
}

.container__2 {
  width: 45%;
  height: 810px;
  padding: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container__2-img {
  padding: 2rem 0;
  height: 100%;
}

/*=============================================================================*/
/*============================= CLOTHES MEDIA QUERY ===========================*/
/*=============================================================================*/
@media screen and (max-width: 800px) {
  .dad {
    height: 1000px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 120px;
    gap: 10px;
  }
  .container__1 {
    width: 100%;
    height: 500px;
    padding: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container__2 {
    width: 100%;
    height: 500px;
    padding: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container__2 .container__2-img {
    width: 100%;
  }
  .container__2__button {
    height: 90px;
    width: 200px;
  }
  .container__1__button {
    height: 90px;
    width: 200px;
  }
}

.help__container {
  padding-top: 130px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10rem;
}

.help__container .help__title {
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.help__container .help__title h1 {
  font-weight: 900;
  font-size: xx-large;
}

.help__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
  margin: 10vh 10vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: solid grey 3px;
  height: 40%;
  width: auto;
  cursor: pointer;
}

.help__options .help__option__item {
  height: 10rem;
  width: 20rem;
  background-color: #c7eceb;
  color: grey;
  border-radius: 15px;
  margin: 20px 5px;
  font-size: large;
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}

.help__options .help__option__item .option__item-p {
  text-transform: lowercase;
  margin-top: 1.25rem;
}

.help__options .help__option__item:hover {
  background-color: #3df4fa;
  color: #000;
}

/*_________________________________________________________________________________________
__________________________________ MEDIA QUERIES____________________________________________*/
@media only screen and (max-width: 800px) {
  .help__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 5rem 2rem;
  }
  .help__title {
    text-align: left;
    padding: 10px;
    width: 100%;
  }
  .help__options {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 801px) {
  .help__options {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
  }
  .help__option__item {
    padding: 5px;
    margin: 0;
    height: 23%;
    width: 22%;
  }
}

footer {
  background-color: black;
  color: blanchedalmond;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
}

footer .footer__div1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 2rem;
  padding: 3rem;
}

footer .footer__div1 p {
  font-family: 'Playfair Display', serif;
  font-size: large;
  font-style: italic;
}

footer .footer__div1 div p {
  font-weight: 900;
  margin: 1rem 0;
}

footer .footer__div1 div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__div1 div ul li {
  list-style: none;
  margin: 0.75rem 0 0.5rem 0;
}

footer .footer__div1 .social__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 600px) and (min-width: 1px) {
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer .footer__div1 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "media" "media" "rights";
    gap: 1rem;
    padding: 2rem;
  }
  footer .footer__div1 .footer__div1-rights {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: rights;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 2rem 0 1rem 0;
  }
  footer .footer__div1 .social__media {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: media;
    border-right: #fff 1px solid;
    padding-right: 1rem;
  }
  footer .footer__div1 .div_footer__div1-contact {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: media;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 70px 550px 60px;
      grid-template-rows: 70px 550px 60px;
  grid-gap: 0;
  height: 1000px;
      grid-template-areas: "header" "body " "footer";
}

.section__shirtII__container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: body;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 275px 275px;
      grid-template-rows: 275px 275px;
  grid-gap: 0;
  height: 110vh;
  margin-top: 120px;
  margin-bottom: 10rem;
}

.footer-shirt2 {
  margin-top: 10px;
  position: absolute;
  top: 120vh;
}

.div__shirtII__image {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  height: 540px;
  padding: 15px 15px;
  margin-bottom: 10px;
}

.div__shirtII__image #shirtII__image {
  width: 100%;
  height: 95%;
  border-radius: 20px;
  border: solid black 1px;
}

.div__shirtII__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.div__shirtII__features h2 {
  text-transform: capitalize;
  font-size: xx-large;
}

.div__shirtII__description {
  padding: 1rem;
}

.div__shirtII__features > * {
  margin-top: 15px;
}

#size {
  width: 4rem;
  height: 2rem;
}

/*=============================================================================*/
/*=============================  MEDIA QUERY ==================================*/
/*=============================================================================*/
@media only screen and (max-width: 600px) and (min-width: 1px) {
  .container {
    -ms-grid-rows: 70px 1200px 60px;
        grid-template-rows: 70px 1200px 60px;
  }
  .section__shirtII__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 550px 300px 150px;
        grid-template-rows: 550px 300px 150px;
    gap: 0;
    width: 100vw;
    height: 1200px;
  }
  .div__shirtII__image {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    height: 500px;
    padding: 15px 15px;
    margin-bottom: 10px;
  }
  .div__shirtII__features {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .div__shirtII__description {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .footer-shirt2 {
    top: 200vh;
  }
}

/*---------------
--------------------- ----- - - - -- - - -shirt1 media queries----------------------
--------------------*/
@media screen and (max-width: 800px) {
  .section__shirt__container {
    padding: 50px 0 20px 0;
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 300px 300px 300px 150px;
        grid-template-rows: 300px 300px 300px 150px;
  }
  .div__shirt__image {
    height: 500px;
    width: 90%;
    grid-row: span 2;
    margin: 50px 0 0 0;
    padding: 0;
  }
  #shirt__image {
    width: 100%;
    height: 100%;
    border: solid 1px black;
    border-radius: 10px;
  }
  .div__shirt__description {
    grid-column: span 1;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .div__shirt__description > p {
    width: 100%;
  }
  .div__shirt__features {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    -ms-grid-rows: (6)[0.75fr];
        grid-template-rows: repeat(0.75fr, 6);
    padding: 30px 10px 0 10px;
    width: 100%;
    height: auto;
  }
  .div__shirt__features > span {
    font-size: x-large;
    font-weight: 700;
    color: red;
  }
}

@media screen and (max-width: 1050px) {
  .div__shirt__image {
    height: 500px;
    width: 90%;
    grid-row: span 2;
    margin: 50px 0 0 10px;
    padding: 0;
  }
}

.cart {
  padding-top: 80px;
  height: 100vh;
  margin: 1rem 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__heading {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  color: orangered;
  padding: 30px;
  border: red solid 3px;
  margin-top: 20px;
}

.footer-cart {
  height: 50vh;
}

.carousel-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  margin-bottom: 80px;
  border-top: gray 1px solid;
}

#carouselExampleIndicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
  width: 60%;
  height: 600px !important;
  margin: 40px 20%;
}

.carousel-control-next, .carousel-control-prev {
  border-radius: 50%;
  height: 20%;
  background-color: #000 !important;
  opacity: 0.3 !important;
  top: 130px !important;
}

.carousel-indicators {
  top: 600px !important;
}

.carousel-inner {
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}

.fontstyle {
  font-weight: bold;
  cursor: pointer;
  font-size: large;
}

/*=============================   MEDIA QUERY  =========================================*/
@media only screen and (max-width: 800px) and (min-width: 1px) {
  #carouselExampleIndicators {
    width: 85%;
    height: 700px !important;
    margin: 40px;
  }
  .carousel-control-next, .carousel-control-prev {
    border-radius: 50%;
    height: 10%;
    top: 250px !important;
  }
  .carousel-control-next {
    left: 350px;
  }
}

.sells-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.clothes_division {
  width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 100px 0;
}

.clothes_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 25px;
  margin: 20px;
  height: 544px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 368px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
  border: 1px lightgrey solid;
}

.clothes_card:hover {
  -webkit-box-shadow: 5px 10px 100px lightgrey, 10px 10px 10px black;
          box-shadow: 5px 10px 100px lightgrey, 10px 10px 10px black;
  height: 548px;
}

.clothes_card:hover .pic-1 {
  width: 355px;
}

.pic-1 {
  border: 1px lavender solid;
  width: 350px;
  height: 400px;
}

.clothes_card > p {
  color: #f83303;
  font-size: x-large;
  font-weight: bolder;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  margin: 1rem 0;
  padding: 0.75rem 0.25rem;
  border-bottom: #f83303 2px solid;
}

.clothes_card > del, span {
  display: block;
  margin: 0.5rem 0;
}

#green_sweater .special-pic2, #orange-j .special-pic2 {
  z-index: 1;
}

#green_sweater .special-pic, #orange-j .special-pic {
  z-index: 0.5;
  position: absolute;
}

#green_sweater:hover .special-pic, #orange-j:hover .special-pic {
  z-index: 2;
}

/*====================================  Aside  ========================================*/
.aside {
  height: auto;
  width: 30%;
  margin-top: 100px;
}

.aside .aside_content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside .aside_content .aside_heading {
  font-size: xxx-large;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  margin: 1rem 0;
}

.aside .aside_content .aside__ul {
  margin: 1rem;
  -webkit-box-shadow: 5px 5px 10px lightgrey;
          box-shadow: 5px 5px 10px lightgrey;
  width: 100%;
}

.aside .aside_content .aside__ul .aside__ul-item {
  text-transform: uppercase;
  margin: 1rem;
  font-size: large;
  list-style: none;
  color: grey;
  font-weight: 600;
  padding: 1rem;
  border-bottom: 1px dotted #f83303;
  cursor: pointer;
  border-radius: 10px;
}

.aside .aside_content .aside__ul .aside__ul-item:hover {
  background-color: #f83303;
  opacity: 0.5;
  color: #fff;
}

.aside .aside_content .aside__ul .aside__ul-item:active {
  opacity: 1;
}

@media only screen and (max-width: 790px) and (min-width: 1px) {
  .sells-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sells-section .aside {
    width: 100%;
    text-align: center;
  }
  .sells-section .aside .aside__ul {
    -webkit-box-shadow: 5px 5px 5px lightgrey, 3px 2px 5px grey;
            box-shadow: 5px 5px 5px lightgrey, 3px 2px 5px grey;
  }
  .sells-section .clothes_division {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */