//variables

$rojito: #f83303;
$activeColor: rgb(61, 244, 250);
$colorLetraBoton: white;

$elegantfont: 'Playfair Display', serif;
$cursivefont: 'Courgette', cursive;
$tetricfont: 'Gideon Roman', cursive;

//general tags

html{
    font-size: 100%;
        a{
            text-decoration: none;
            color: black;
        }
    scroll-behavior: smooth;
}
*{
    padding: 0%;
    margin: 0%;

  
}
//modulos sass
@import "indexStyles";
@import "components";
@import "animations";
@import "buttons";
@import "pageClothes";
@import "helpPage";
@import "footer";
@import "shirt2Page";

