html {
  font-size: 100%;
}

/*======================================== navbar component =============================================*/
nav {
  padding: 10px;
  height: 70px;
  font-style: oblique;
  font-size: 120%;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFF;
}

nav .nav__container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 15%;
  background-color: #f83303;
  padding: 0.25rem;
}

nav .nav__container #brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: xx-large;
  color: #FFF;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
  margin: 0.25rem;
}

nav ul {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 20px;
}

nav li {
  list-style: none;
  margin: 10px;
}

nav a {
  text-decoration: none !important;
  color: #000;
}

.nav__2 {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: beige;
  z-index: 0;
  position: relative;
  top: 90px;
}

.nav__2 #search__input {
  width: 12rem;
  margin: 1rem 0rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

/*========================transition ad=====================*/
#ad {
  -webkit-transition: ease-in-out 1s 0.2s;
  transition: ease-in-out 1s 0.2s;
}

#ad:hover {
  width: 600px;
}

/*============== animation ===============*/
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes gradient {
  0% {
    background-color: white;
    border-radius: 1%;
  }
  50% {
    background-color: #d65f41;
    border-radius: 10%;
  }
  100% {
    background-color: #F83303;
    border-radius: 15%;
  }
}

@keyframes gradient {
  0% {
    background-color: white;
    border-radius: 1%;
  }
  50% {
    background-color: #d65f41;
    border-radius: 10%;
  }
  100% {
    background-color: #F83303;
    border-radius: 15%;
  }
}

.shirt:hover {
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

#ad {
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  animation-direction: reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

/*========================= cart buttons =================================00*/
.button__div {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart__button {
  background-color: #f83303 !important;
  color: #fff !important;
  width: 200px;
}

.cart__button:hover {
  background-color: gold;
}

/*========================= clothes buttons =================================00*/
.container__2__button {
  height: 90px;
  width: 200px;
  background-color: white;
  color: black;
  font-size: xx-large;
  font-family: 'Playfair Display', serif;
  border: #F83303 2px solid;
  border-radius: 10px;
}

.container__1__button {
  height: 90px;
  width: 200px;
  background-color: white;
  color: black;
  font-size: xx-large;
  font-family: 'Playfair Display', serif;
  border: #F83303 2px solid;
  border-radius: 10px;
}

.container__1__button:hover {
  background-color: #e05923;
  color: darkred;
  border-color: darkred;
}

.container__2__button:hover {
  background-color: #e05923;
  color: darkred;
  border-color: darkred;
}

.container__1__button:active {
  background-color: #5ec2e4;
  color: white;
  border-color: #5ec2e4;
}

.container__2__button:active {
  background-color: #5ec2e4;
  color: white;
  border-color: #5ec2e4;
}
/*# sourceMappingURL=styles.css.map */